<div class="row">
  <div class="col-md-6">
    <div class="card-deck">
      <div *ngFor="let el of fish" class="card">
        <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">
            Catchee: {{ el.catchee }}
          </p>
          <p class="card-text">
            Species: {{ el.species }}
          </p>
          <p class="card-text">
            Weight: {{ el.weight }}
          </p>
          <p class="card-text">
            Length: {{ el.length }}
          </p>
          <p class="card-text">
            Date Caught: {{ el.dateCaught }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
